body{
    margin: 0;
    background-image: linear-gradient(225deg,#fcb5bd , #e65bd1 , #042036)
}
.sideBar{
    border-radius: 0 25px 25px  0 ;
    background-color: black;
    width: 13vw;
    height: 100vh;
    opacity: 0.6;

    display: flex;
    flex-direction: column;
    margin-left: 0;
    /* border: 3px solid black; */
    z-index: 1;
}
#subjectsListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px black;
    width: 80%;
    height: 60%;

}
.subjectsList{
    position: relative;
    z-index: 3;
    font-size: 100%;
    color: red;
    
}
.menuLogo{
    object-fit: contain;
    width:  70%;
    margin-top:1 ;
    ;
}